{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    {% if latest_question_list %}
        <div class='question-box'>
            <ul>
            {% for question in latest_question_list %}
                <li>
                    <a href="{% url 'polls-detail' question.id %}">
                        {{ question.question_text }}
                    </a>
                </li>
            {% endfor %} 
            </ul>
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock content %}