{% extends "base.html" %}

{% block title %}
    Result {{question.id}}
{% endblock title %}

{% block content %}
    <div class='container question-result-box'>
    <h1>{{ question.question_text }}</h1>
    <ul>
    {% for choice in question.sorted_choice_list %}
        <li>{{choice.choice_text}} -- {{choice.votes}} vote{{choice.votes|pluralize}}</li>
    {% endfor %}
    </ul>
    <a href="{% url 'polls-detail' question.id %}">Vote again?</a>
    </div>
{% endblock content %}