body{
    background : white url('images/web_background.jpeg') no-repeat;
}

li a{
    color: green;
    text-decoration: none;
}

.question-box,.question-detail-box,.question-result-box{
    background-color: white;

}